* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(29, 29, 29);
  height: 90vh;
}

.music-container {
  max-width: 500px;
  min-width: 300px;
  margin: auto;
  border-radius: 5px;
  padding: 0 0.5rem;
}
.music-content {
  border-radius: 15px;
  border: 2px solid rgb(126, 61, 61);
  background-color: #f7ebd4;
  text-align: center;
  max-height: 87vh;
  margin-top: 20px;
  overflow: auto;
}
h3 {
  margin-top: 15px;
  position: fixed;
  background-color: rgb(217, 197, 159);
  width: 490px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 0.8rem 0;
  top: 0;
  color: #9f2f2f;
  border-bottom: 3px solid rgb(29, 29, 29);
}
h3 > span {
  font-size: .8rem;
  color: rgb(29, 29, 29);
}
::-webkit-scrollbar {
  display: none;
}
ul {
  list-style-type: decimal-leading-zero;
  text-align: left;
  margin: 3.5rem 3rem 0;
}
li {
  cursor: pointer;
  padding: 10px;
  color: black;
}

audio {
  position: fixed;
  bottom: 0;
  margin-bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.6rem;
  width: 30rem;
}

@media screen and (max-width: 600px) {
  audio {
    width: 90vw;
  }
  h3 {
  width: 90vw;
  }
}
